:root {
  --mdc-theme-primary: $theme-primary;
  --mdc-theme-primary-light: $theme-primary-light;
  --mdc-theme-primary-dark: $theme-primary-dark;
  --mdc-theme-secondary: $theme-secondary;
  --mdc-theme-secondary-light: $theme-secondary-light;
	--mdc-theme-secondary-dark: $theme-secondary-dark;
	/* --mdc-theme-text-primary-on-primary: $text-color-primary-on-light; */
}

html,
body,
main {
	height: 100vh;
	margin: 0;
	padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
}

#background-container {
	height: 100vh;
	left: 0;
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: -1;
}

body {
  background-color: $background-color-dark;
  color: $text-color-primary-on-dark;
  overflow: hidden;
}
